.App {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 8px; */
  padding: 8px;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--text-color);
  font-weight: bold;
}

.hooks-examples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 8px;
}
.user-interface-coding-examples {

}

button {
  margin: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input {
  margin: 4px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}
