.CardWrapper-component {
  margin: 8px;
  padding: 8px;
  border-left: 8px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(125, 127, 128, 0.1);
}

.CardWrapper-component-name {
  font-weight: bold;
}
